PROYECTO INDIVIDUAL Data 05

Se comienza importando la cantidad de librerías necesarias para hacer EDA y ETL a los datos.

In [1]:
import pandas as pd
import numpy as np

Realizamos la ingesta de los archivos csv y json.

In [2]:
amazondf = pd.read_csv(r'../PI01_DATA05-main/Datasets/amazon_prime_titles.csv')
disneydf = pd.read_csv(r'../PI01_DATA05-main/Datasets/disney_plus_titles.csv')
huludf = pd.read_csv(r'../PI01_DATA05-main/Datasets/hulu_titles.csv')
netflixdf = pd.read_json(r'../PI01_DATA05-main/Datasets/netflix_titles.json')

Se comienza el proceso de EDA visualizando los datos de cada dataframe.

In [3]:
amazondf.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [4]:
disneydf.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

In [5]:
huludf.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...

In [6]:
netflixdf.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,None,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,None,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",None,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,None,None,None,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,None,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

Buscamos y sumamos los valores nulos.

In [7]:
amazondf.isna().sum()

show_id            0
type               0
title              0
director        2082
cast            1233
country         8996
date_added      9513
release_year       0
rating           337
duration           0
listed_in          0
description        0
dtype: int64

In [8]:
disneydf.isna().sum()

show_id           0
type              0
title             0
director        473
cast            190
country         219
date_added        3
release_year      0
rating            3
duration          0
listed_in         0
description       0
dtype: int64

In [9]:
huludf.isna().sum()

show_id            0
type               0
title              0
director        3070
cast            3073
country         1453
date_added        28
release_year       0
rating           520
duration         479
listed_in          0
description        4
dtype: int64

In [10]:
netflixdf.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

Vemos la cantidad de columnas y filas de cada uno.

In [11]:
amazondf.shape

(9668, 12)

In [12]:
disneydf.shape

(1450, 12)

In [13]:
huludf.shape

(3073, 12)

In [14]:
netflixdf.shape

(8807, 12)

Identificamos si hay datos duplicados, en caso de ser necesario se eliminan.

In [15]:
amazondf[amazondf.duplicated(keep=False)]

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

In [16]:
disneydf[disneydf.duplicated(keep=False)]

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

In [17]:
huludf[huludf.duplicated(keep=False)]

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

In [18]:
netflixdf[netflixdf.duplicated(keep=False)]

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

Ningún df contiene filas duplicadas en este caso.
Ahora, para la columna duration la separo para dejar por un lado los minutos que dura, y por otro una columna donde diga la cantidad de temporadas "seasons", y debajo se visualizan los dataframes para ver que todo vaya bien.

In [19]:
amazondf['min']= amazondf['duration'].apply(lambda i: i.split()[0] 
    if i.split()[1]=='min' 
    else '0')

amazondf['seasons']= amazondf['duration'].apply(lambda i: i.split()[0] 
    if i.split(" ",1)[1]=='Seasons' or i.split(" ",1)[1]=='Season' 
    else '0')

In [20]:
amazondf.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,min,seasons
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,113,0
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,110,0
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,74,0
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",69,0
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,45,0

In [21]:
disneydf['min']= amazondf['duration'].apply(lambda i: i.split()[0] 
    if i.split()[1]=='min' 
    else '0')

disneydf['seasons']= amazondf['duration'].apply(lambda i: i.split()[0] 
    if i.split(" ",1)[1]=='Seasons' or i.split(" ",1)[1]=='Season' 
    else '0')

In [22]:
disneydf.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,min,seasons
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,113,0
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...,110,0
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.,74,0
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!",69,0
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...,45,0

In [23]:
huludf['min']= amazondf['duration'].apply(lambda i: i.split()[0] 
    if i.split()[1]=='min' 
    else '0')
huludf['seasons']= amazondf['duration'].apply(lambda i: i.split()[0] 
    if i.split(" ",1)[1]=='Seasons' or i.split(" ",1)[1]=='Season' 
    else '0')

In [24]:
huludf.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,min,seasons
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...,113,0
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r...",110,0
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...,74,0
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...,69,0
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...,45,0

In [25]:
netflixdf['min']= amazondf['duration'].apply(lambda i: i.split()[0] 
    if i.split()[1]=='min' 
    else '0')

netflixdf['seasons']= amazondf['duration'].apply(lambda i: i.split()[0] 
    if i.split(" ",1)[1]=='Seasons' or i.split(" ",1)[1]=='Season' 
    else '0')

In [26]:
netflixdf.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,min,seasons
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,None,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",113,0
1,s2,TV Show,Blood & Water,None,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",110,0
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",None,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,74,0
3,s4,TV Show,Jailbirds New Orleans,None,None,None,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",69,0
4,s5,TV Show,Kota Factory,None,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,45,0

Lo siguiente es agregar una columna a cada dataframe con su respectiva plataforma, para luego concatenarlos y que cada Movie o Tv Show tenga a qué plataforma pertenece.

In [27]:
netflixdf['platform'] = 'Netflix'
huludf['platform'] = 'Hulu'
disneydf['platform'] = 'Disney'
amazondf['platform'] = 'Amazon'

Ya que la columna duration quedó separada, se elimina porque no va a servir más.

In [28]:
amazondf.drop(['duration'], axis=1)
huludf.drop(['duration'], axis=1)
disneydf.drop(['duration'], axis=1)
netflixdf.drop(['duration'], axis=1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,min,seasons,platform
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,None,United States,"September 25, 2021",2020,PG-13,Documentaries,"As her father nears the end of his life, filmm...",113,0,Netflix
1,s2,TV Show,Blood & Water,None,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",110,0,Netflix
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",None,"September 24, 2021",2021,TV-MA,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,74,0,Netflix
3,s4,TV Show,Jailbirds New Orleans,None,None,None,"September 24, 2021",2021,TV-MA,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",69,0,Netflix
4,s5,TV Show,Kota Factory,None,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,45,0,Netflix
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",116,0,Netflix
8803,s8804,TV Show,Zombie Dumb,None,None,None,"July 1, 2019",2018,TV-Y7,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",0,4,Netflix
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,120,0,Netflix
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",100,0,Netflix
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,103,0,Netflix

Se concatenan ahora los cuatro dataframes en uno solo, así realizar de forma más fácil las futuras consultas. Debajo vemos algunos ejemplos para ver que el dataframe haya quedado bien estructurado.

In [29]:
df = pd.concat([amazondf, netflixdf, huludf, disneydf], axis=0)
df.sample(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,min,seasons,platform
1438,s1439,Movie,Behind You,NaN,NaN,United States,"August 16, 2020",2020,R,86 min,Horror,Two young sisters find that all the mirrors in...,90,0,Hulu
4830,s4831,Movie,The last hour,Eduardo Mendoza de Echave,"Pietro Sibille, Nidia Bermejo, Toño Vega, Tomm...","Chile, Peru","June 15, 2018",2017,TV-MA,119 min,"Dramas, International Movies","In this compelling true story, two Peruvian de...",79,0,Netflix
6119,s6120,TV Show,Mangiarancina Investigazioni,NaN,"Massimo Marotta, Sabrina Lembo, Anna Attademo,...",NaN,NaN,2021,13+,1 Season,"Comedy, Suspense",Terio Mangiarancina finds a dead body with des...,0,1,Amazon
3869,s3870,Movie,Olympus Has Fallen,Antoine Fuqua,"Gerard Butler, Aaron Eckhart, Morgan Freeman, ...",United States,"May 2, 2019",2013,R,119 min,Action & Adventure,A disgraced Secret Service agent must come to ...,98,0,Netflix
4240,s4241,Movie,Sam Kinison: The Scream Continues,None,Sam Kinison,United States,"December 31, 2018",2016,TV-MA,29 min,Documentaries,Sam's brother and former manager Bill Kinison ...,27,0,Netflix
4031,s4032,Movie,Burj Khalifa: Dubai's Vertical City,Bärbel Jacks,NaN,NaN,NaN,2016,7+,52 min,Documentary,Experience the ultimate realm of the rich and ...,52,0,Amazon
7845,s7846,Movie,Mardi Gras: Spring Break,Phil Dornfeld,"Josh Gad, Arielle Kebbel, Danneel Harris, Regi...",NaN,NaN,2010,R,88 min,Comedy,3 best friends travel to Mardis Gras during th...,88,0,Amazon
1145,s1146,TV Show,Lupin the 3rd Part 5,NaN,NaN,Japan,"December 1, 2020",2018,TV-14,1 Season,"Action, Adventure, Anime","Lupin III, the most wanted thief in the world,...",60,0,Hulu
8080,s8081,Movie,The Awkward Comedy Show,Victor Varnado,"Victor Varnado, Hannibal Buress, Eric André, B...",NaN,NaN,2010,18+,82 min,"Arts, Entertainment, and Culture, Comedy, Spec...",Spotlighting four alternative African-American...,82,0,Amazon
2594,s2595,Movie,Thomas & Friends: Marvelous Machinery: World o...,Joey So,"Joseph May, Keith Wickham, Yvonne Grundy, Matt...",None,"May 1, 2020",2020,TV-Y,23 min,Children & Family Movies,"Amid special demonstrations in Sodor, Thomas a...",72,0,Netflix

In [30]:
df.shape

(22998, 15)

Con respecto a las demás columnas, no voy a eliminarlas por el momento ya que pueden ser necesarias para futuras consultas.

Ahora se debe cambiar el tipo de dato de las columnas 'tiempo_dur' y 'seasons', a integer para que se puedan realizar las consultas.

In [31]:
df['seasons'] = df['seasons'].astype(int)
df['min'] = df['min'].astype(int)

In [32]:
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
min              int32
seasons          int32
platform        object
dtype: object

Por último, a los valores nulos se les completa con el string 'Sin dato', para que quede completo el dataframe.

In [33]:
df.fillna('Sin dato', inplace=True)
df.sample(3) #Vemos 3 ejemplos

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,min,seasons,platform
3573,s3574,Movie,Our Planet - Behind The Scenes,Sin dato,David Attenborough,United Kingdom,"August 20, 2019",2019,TV-G,63 min,Documentaries,Years spent recording footage of creatures fro...,0,4,Netflix
501,s502,Movie,Mama Drama,Seyi Babatope,"Osas Ighodaro, Kunle Remi, Kehinde Bankole, Fe...",Sin dato,"July 7, 2021",2020,TV-MA,105 min,"Dramas, International Movies",After years of fertility issues and her mother...,58,0,Netflix
1377,s1378,Movie,Pari,Prosit Roy,"Anushka Sharma Kohli, Parambrata Chatterjee, R...",India,Sin dato,2018,18+,134 min,"Horror, International",Pari is a supernatural horror film in which a ...,134,0,Amazon

Al dataframe final, lo convertimos a un csv para trabajarlo en nuestro archivo main.py .

In [34]:
df = pd.DataFrame(df)
df.to_csv("df.csv")